config_path     = "~/fcgi/nodedb_graz_funkfeuer_at__443.config"
host_macro      = "gtw_host_ssl"
port            = "443"
root_dir        = "~/active"
script_path     = "~/fcgi/nodedb_graz_funkfeuer_at__443.fcgi"
server_admin    = "admin@funkfeuer.at"
server_name     = "nodedb-graz-tmp.funkfeuer.at"
ssl_key_name    = "nodedb-graz-tmp.funkfeuer.at"
